<footer class='py-12 px-4 md:py-16 bg-dark-900 sm:px-6 lg:px-8'>
  <div class='grid gap-8 mx-auto lg:max-w-screen-xl sm:max-w-3xl md:grid-cols-3 md:gap-y-12 lg:grid-cols-4'>

    <!-- Logo and copyright text -->
    <div class='flex flex-col lg:mx-auto'>
      <div class='flex items-center'>
        <a href="index.html" class='text-2xl font-black lg:block group'>
          <span class='text-white transition duration-200 ease-in-out group-hover:text-dark-300'>Crator</span>
          <span class='transition duration-200 ease-in-out text-dark-300 group-hover:text-white'>Studio</span>
        </a>
      </div>
      <div class='mt-6 text-lg md:mt-8 text-dark-300'>
        &#169; 2021 Crator Studio.
        <br> All rights reserved.
      </div>
    </div>

    <!-- Contact information -->
    <div class='lg:mx-auto'>
      <h6 class='text-xl font-semibold text-white'>
        Get in touch
      </h6>
      <p class='mt-2 text-lg text-dark-300'>
        123 West Kanye Street
        <br>Los Angeles, CA 90001
      </p>
      <p class='mt-6 text-lg text-dark-300'>
        (123) 456-789
      </p>
      <p class='text-lg text-dark-300'>
        hello@crator.com
      </p>
    </div>

    <!-- Site links -->
    <div class='lg:mx-auto'>
      <h6 class='text-xl font-semibold text-white'>
        Company
      </h6>
      <ul class='mt-2 space-y-1 text-lg'>
        <li class='font-medium text-dark-300 hover:text-white'>
          <a href='index.html'>
            Home
          </a>
        </li>
        <li class='font-medium text-dark-300 hover:text-white'>
          <a href='about.html'>
            About us
          </a>
        </li>
        <li class='font-medium text-dark-300 hover:text-white'>
          <a href='services.html'>
            Services
          </a>
        </li>
        <li class='font-medium text-dark-300 hover:text-white'>
          <a href='work.html'>
            Work
          </a>
        </li>
        <li class='font-medium text-dark-300 hover:text-white'>
          <a href='contact.html'>
            Contact us
          </a>
        </li>
      </ul>
    </div>

    <!-- Social links -->
    <div class='sm:col-span-3 lg:col-span-1 lg:mx-auto'>
      <h6 class='text-xl font-semibold text-white'>
        Follow us on social media
      </h6>
      <p class='mt-2 text-lg text-dark-300'>
        Lorem ipsum dolor sit amet consect adipis elit.
      </p>
      <div class='mt-4 w-full lg:mt-6'>

        <!-- Social links container -->
        <div class='flex justify-start space-x-4'>

          <!-- Instagram -->
          <a class="flex justify-center items-center w-12 h-12 rounded-full transition duration-300 ease-in-out bg-dark-700 hover:text-dark-900 hover:bg-white  text-dark-300" href="#">
            <!-- TablerIcon name: brand-instagram -->
            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
              <rect x="4" y="4" width="16" height="16" rx="4" />
              <circle cx="12" cy="12" r="3" />
              <line x1="16.5" y1="7.5" x2="16.5" y2="7.501" />
            </svg>
          </a>

          <!-- Facebook -->
          <a class="flex justify-center items-center w-12 h-12 rounded-full transition duration-300 ease-in-out bg-dark-700 hover:text-dark-900 hover:bg-white  text-dark-300" href="#">
            <!-- TablerIcon name: brand-facebook -->
            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
              <path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3" />
            </svg>
          </a>

          <!-- Twitter -->
          <a class="flex justify-center items-center w-12 h-12 rounded-full transition duration-300 ease-in-out bg-dark-700 hover:text-dark-900 hover:bg-white  text-dark-300" href="#">
            <!-- TablerIcon name: brand-twitter -->
            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
              <path d="M22 4.01c-1 .49 -1.98 .689 -3 .99c-1.121 -1.265 -2.783 -1.335 -4.38 -.737s-2.643 2.06 -2.62 3.737v1c-3.245 .083 -6.135 -1.395 -8 -4c0 0 -4.182 7.433 4 11c-1.872 1.247 -3.739 2.088 -6 2c3.308 1.803 6.913 2.423 10.034 1.517c3.58 -1.04 6.522 -3.723 7.651 -7.742a13.84 13.84 0 0 0 .497 -3.753c-.002 -.249 1.51 -2.772 1.818 -4.013z" />
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
