<section class='px-4 pt-6 pb-12 mx-auto max-w-screen-2xl md:pb-16 sm:px-6 lg:px-8'>  

  <!-- Hero card -->
  <div class="relative rounded-3xl shadow-xl sm:overflow-hidden bg-dark-700">

    <!-- Right background diagonal -->
    <svg class='absolute right-1/4 inset-y-0 h-full text-dark-700 w-1/4 z-20' preserveaspectratio='none' viewbox='0 0 100 100' fill='currentcolor'>
      <polygon points='0,0 100,0 0,100'/>
    </svg>
    <div class='absolute w-1/2 inset-y-0 h-full left-1/2 bg-dark-800 z-10 rounded-r-3xl'></div>

    <!-- Hero card content -->
    <div class="relative py-16 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:auto-rows-max lg:gap-x-8 xl:gap-x-12 sm:px-6 sm:py-24 lg:py-32 lg:px-8">

      <!-- Card content text-->
      <div class='flex flex-col justify-center items-center lg:items-start'>
        <p class="inline-flex z-30 justify-center items-center py-2 px-6 text-sm font-medium tracking-wide text-white bg-gradient-to-r rounded-r-full rounded-tl-full from-dark-800 to-dark-900">
          We are develop
        </p>
        <div class='z-30 mx-auto mt-6 w-full max-w-lg text-center lg:text-left lg:max-w-none md:max-w-2xl'>
          <h1 class="text-4xl font-extrabold text-white sm:text-5xl md:text-6xl lg:text-5xl xl:text-5xl">
            Blockchain solutions & Web3 services
          </h1>
          <p class="mt-6 text-xl text-dark-300">
            We provide a full range of services for the development, implementation and promotion of web3 products.
          </p>
        </div>
        <!-- Hero buttons -->
        <div class='z-30 mt-10 sm:flex sm:justify-center lg:justify-start'>
          <a class="flex justify-center items-center py-4 px-8 w-auto h-14 text-base font-semibold leading-snug bg-white rounded-full transition ease-in-out duration-250 text-dark-900 hover:text-white focus:outline-none hover:bg-dark-900" href="contact.html">
            Let's get started
          </a>
<!--          <a class="flex relative justify-center items-center px-8 mt-5 ml-0 w-auto h-14 text-base font-medium leading-snug text-white sm:ml-4 sm:mt-0 group" href="services.html">-->
<!--            <span class='block absolute top-0 left-0 z-10 w-full h-full bg-gradient-to-r rounded-full transition-all ease-in-out duration-250 from-dark-800 to-dark-900 md:w-14 md:group-hover:w-full'></span>-->
<!--            <span class="relative z-20">Learn more</span>-->
<!--          </a>-->
        </div>
      </div>

      <!-- Hero image -->
      <div class='flex justify-center items-center mx-auto mt-12 max-w-xl sm:mt-16 lg:mt-0 lg:max-w-none'>
        <img src='images/hero-home.jpg' class='object-cover z-30 w-auto h-full rounded-3xl shadow-md'>
      </div>
    </div>
  </div>
</section>
